*{
  margin:0px;
  padding:0px;
}

html,body{
  height:100%;
  color: #444;
  font-size:14px;
  font-family:'Quicksand', sans-serif;
  font-weight:400;
  width:100%;
  height:100%;
}

p, a{
  color:#444;
}

body{
  background-color: #AAA;
  background: url('https://dl.dropbox.com/u/13304247/background.jpg') no-repeat;
  background-size:cover;
}
h3 {
  margin-bottom:5px
}
.unavailable{
  opacity:.4;
}
.faded{
  color:#888;
}
#container{
  height:100%;
}
.red {
  position:relative;
  bottom:2px;
  opacity:.8;
  color: #dd3009;
}
#vertical_bar, #horizontal_bar{
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 1);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 1);
}
#vertical_bar{
  height:0%;
  width:360px;
  z-index:100;
  background:white;
  border-right: 8px solid #606060;
  border-left: 8px solid #606060;
  position:absolute;
  margin-left:180px;
  overflow:hidden;
}
#vertical_bar #header {
  text-align:center;
  margin-top:25%;
}
#vertical_bar #header img {
  bottom:20px;
  right:22px;
  position:relative;
  width:560px;
}
#vertical_content{
  display:none;
  margin-top:10%;
  margin-left:30%;
}
#vertical_bar ul{
  list-style: upper-roman;
  font-weight:bold;
  text-transform:uppercase;
  font-size:18px; 
}
#vertical_bar ul li{
  margin-bottom:30px;
}
#vertical_bar ul li p{
  color:#111;
}
#vertical_bar ul li a{
  text-decoration:none;
}
#vertical_bar ul li.unavailable p:after
{
  content:"*";
}
#horizontal_bar{
  height:400px;
  width:0%;
  background:white;
  position:absolute;
}
#horizontal_bar_content{
  height:382px;
  margin-top:5px;
  width:0%;
  border-top:4px solid gray;
  border-bottom:4px solid gray;
}
.page_contents{
  display:none;
  position:absolute;
  top:30px;
  left:630px;
  max-width:740px; 
}
.page_contents h1{
  margin-bottom:10px;
}
.page_contents .asterisk {
  margin-top:8px;
}
#general_info #id_note {
  position:relative;
  left:106px;
}
#general_info {
  top:34%;
}
#general_info #venue #directions, #general_info #datetime #time {
  font-size:14px;
}
#general_info #venue{
  left:103px;
  position:relative;
}
#tickets .option:nth-of-type(n+2) {
  margin-top:15px;
}
#tickets .prices {
  margin-bottom:6px;
}
#tickets .soldout {
  top:20px;
  left:260px;
  font-weight:bold;
  position:relative;
}
#menu h3:nth-of-type(n+2) {
  margin-top:15px;
}
#menu .item{
  margin-left:25px;
}
#menu .item:nth-of-type(n+2) {
  margin-top:5px;
}
#menu .item p {
  font-style:italic;
}
#tuxedo_rentals img {
  height:250px;
}
#faq dd {
  margin-bottom:10px;
}
#footer{
  position:absolute;
  text-align:center;
  bottom:6px;
  width:100%;
}


#faq dt {
  font-weight:bold;
}

#faq dt:before {
  content: "Q:  ";
}


#faq dd:before {
  content: "A:   ";
  margin-right:5px;
}
